.button-container {
    margin-bottom: 0.25em;
    height: auto;
    .check-button {
        border-radius: 4px;
        border: 1px solid #D0D0D0;
        overflow: hidden;
        display: block;
        & label {
            float: left;
            width: 100%;
            margin-bottom: 0;
            & span {
                display: block;
                font-size: $sm;
                font-family: $sans-serif-condensed;
                line-height: 0px;
                padding: 2rem;
            }
            & input {
                display: none;
                &:checked + span {
                    background-color: #aaa;
                    color: #000;
                }
            }
        }
    }
}

.explainer {
    display: none;
    font-size: $sm;
    line-height: 18px;
    font-family: $serif;
    background: whitesmoke;
    padding: 5px 5px 0.15px 5px;
    text-align: center;
    border-radius: 0.25em;
    .first-graf {
        font-size: $base;
    }
    .income-only {
        font-size: $xxs;
        font-style: italic;
        width: 85%;
        display: block;
        margin: 0px auto;
        line-height: 14px;
    }
    .fa-level-down {
        display: none;
    }
    .reset {
        margin: 5px auto;
        background-color: #EFEFEF;
        border-radius: 4px;
        border: 1px solid #D0D0D0;
        overflow: hidden;
        width: 100%;
        height: 30px;
        display: inline-block;
        font-size: $base;
        font-family: $sans-serif-condensed;
        font-weight: bold;
        &:hover {
            box-shadow: 0px 1px 1px $shade;
        }
    }
}
