.button-container {
  margin-bottom: 30px;
  height: auto;
  .standfirst {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .check-button {
    color: $herald-blue;
    border: 2px solid $herald-blue;
    overflow: hidden;
    display: inline-block;
    margin-right: 30px;
    min-width: 250px;
    @media (max-width: $screen-xs) {
      margin-right: 0;
      margin-bottom: 15px;
      display: block;
      min-width: none;
    }
    &:last-child {
      margin-right: 0;
    }
    & label {
      float: left;
      width: 100%;
      margin-bottom: 0;
      cursor: pointer;
      transition: background-color 0.3s linear;

      &:hover {
        background-color: #aaa;
      }
      & span {
        display: block;
        font-size: $md;
        font-family: $sans-serif-condensed;
        line-height: 0px;
        padding: 10px;
      }
      & input {
        display: none;
        &:checked + span {
          background-color: #aaa;
          color: #000;
        }
      }
    }
  }
}

.explainer {
  display: none;
  font-size: $md;
  line-height: 18px;
  font-family: $sans-serif;
  text-align: center;
  border-radius: 0.25em;
  .first-graf {
    font-size: $md;
    line-height: 1.25;
  }
  .income-only {
    font-size: $md;
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
    line-height: 1.25;
  }
}
