.input-container {
    margin: 0.5em auto;
    .input-holder input {
          &::-webkit-input-placeholder { text-align: center; }
          &:-moz-placeholder { text-align: center; }
          &::-moz-placeholder { text-align: center; }
          &:-ms-input-placeholder { text-align: center; }
    }
    .button-holder {
        text-align: center;
        margin-top: 0.25em;
        text-align: center;
    }
    .income-btn {
        margin: 5px auto;
        background-color: #EFEFEF;
        border-radius: 4px;
        border: 1px solid #D0D0D0;
        overflow: hidden;
        width: 100px;
        height: 30px;
        display: inline-block;
        font-size: $base;
        font-family: $sans-serif-condensed;
        font-weight: bold;
        &:hover {
            box-shadow: 0px 1px 1px $shade;
        }
    }
    .reset {
        display: none;
    }
    .income-box {
        font-family: $serif;
        font-size: 18px;
        border-bottom: 1px dashed $border-gray;
        border-bottom-style: dashed;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 135px;
        padding: 0.25em 0.5em;
        text-align: left;
        vertical-align: 10px;
        &::-webkit-input-placeholder {
            font-weight: 300;
            text-align: left;
            line-height: 1.75em;
            font-size: 18px;
        }
        &:focus {
            outline: 0;
            &::-webkit-input-placeholder {
                color: #fff;
            }
        }
    }
}
