#map-container {
  width: 100%;
  height: 100vh;
  position: relative !important;
}

.map-info-container {
  margin-bottom: 20px;

  @media (max-width: $screen-md) {
    margin-bottom: 15px;
  }
}

.hover-box-container {
  ul {
    padding-left: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .price-explainer {
    font-family: $serif;
    font-size: $md;
    line-height: 18px;
  }

  .percent-year {
    display: none;
  }
}

.interface-selector {
  font-family: $sans-serif-condensed;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size: $sm;
  border: 2px solid $grey;
  font-weight: bold;
  color: $grey;
  background-color: white;
  transition: color 0.3s linear, background-color 0.3s linear;

  &--green {
    &:hover {
      color: $white;
      background-color: transparentize($green, 0.2);
    }

    &.selected-interface {
      background-color: $green;
      border-color: $green;
    }
  }

  &--blue {
    &:hover {
      color: $white;
      background-color: transparentize($blue, 0.2);
    }

    &.selected-interface {
      background-color: $blue;
      border-color: $blue;
    }
  }

  &--red {
    &:hover {
      color: $white;
      background-color: transparentize($red, 0.2);
    }

    &.selected-interface {
      background-color: $red;
      border-color: $red;
    }
  }

  &--yellow {
    &:hover {
      color: $white;
      background-color: transparentize($yellow, 0.2);
    }

    &.selected-interface {
      background-color: $yellow;
      border-color: $yellow;
    }
  }
}

.selected-interface {
  color: white;
}

.map-interface {
  background: #FFF;

  ul {
    text-align: center;
    padding-left: 0;
    margin-left: 0;
  }
}

.key-holder {
  clear: both;
  margin: 1em 0;
}

.labels {
  .label {
    font-family: $sans-serif-condensed;
    font-size: $xxs;
    display: inline-block;
    padding: 0px;
    float: left;
    text-transform: uppercase;
    color: #aaa;
    margin: 0.5em 0;
    &:nth-child(1) {
        text-align: left;
        width: 50%;
    }
    &:last-of-type {
        text-align: right;
        width: 50%;
    }
    &-middle {
        text-align: center;
        width: 33%;
        display: none;
    }
  }
  .b-grade,
  .d-grade {
    display: none;
  }
}

.legend-block {
  width: 25%;
  float: left;
  border: 10px solid;
}

.footer-list {
  font-size: $xxs !important;
  font-family: $serif;
  margin-top: 2em;
}
