#map-container {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative !important;
}

#interface-container {
    ul {
      padding-left: 0;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }

    .price-explainer {
        font-family: $serif;
        font-size: $sm;
        line-height: 18px;
    }

    .percent-year {
        display: none;
    }
}

.interface-selector {
    font-family: $sans-serif-condensed;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 11px;
    border-top: 1px solid #CCC;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    border-left: 1px solid #BBB;
}

.selected-interface {
    background: #fff;
    border-bottom: none;
    padding-bottom: 6px;
}

.map-interface {
    background: #FFF;
}

.key-holder {
    clear: both;
    margin: 1em 0;
}

.labels {
    .label {
        font-family: $sans-serif-condensed;
        font-size: $xxs;
        display: inline-block;
        padding: 0px;
        float: left;
        text-transform: uppercase;
        color: #aaa;
        margin: 0.5em 0;
        &:nth-child(1) {
            text-align: left;
            width: 50%;
        }
        &:last-of-type {
            text-align: right;
            width: 50%;
        }
        &-middle {
            text-align: center;
            width: 33%;
            display: none;
        }
    }
    .b-grade,
    .d-grade {
        display: none;
    }
}

.legend-block {
    width: 25%;
    float: left;
    border: 5px solid;
}

.footer-list {
    font-size: $xxs !important;
    font-family: $serif;
    margin-top: 2em;
}
