@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/McClatchySlab-Light.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/McClatchySlab-Regular.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/McClatchySlab-Semibold.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/McClatchySlab-Bold.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/McClatchySans-Thin.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/McClatchySans-Regular.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/McClatchySans-Semibold.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/McClatchySans-Black.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans Cond";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/McClatchySansCond-Semibold.woff") format("woff"); }

@font-face {
  font-family: "Lyon";
  font-style: normal;
  font-weight: 400;
  src: local("Lyon Regular"), local("Lyon-Regular"), url("/fonts/LyonTextWeb-Regular.woff") format("woff"); }


.font-xxl {
  font-size: 36px !important; }


.font-xl {
  font-size: 28px !important; }


.font-lg {
  font-size: 22px !important; }


.font-md {
  font-size: 18px !important; }


.font-base {
  font-size: 16px !important; }


.font-sm {
  font-size: 14px !important; }


.font-xs {
  font-size: 12px !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important; }

body, html {
  color: #282828;
  background-color: #FFFFFF; }

.mobile-img {
  display: none; }

.sig {
  font-weight: bold;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  text-transform: uppercase; }

.center {
  text-align: center; }

.graphic-label {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 18px !important;
  color: #ED1941;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center; }

.headline {
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  font-size: 50px !important;
  line-height: 1em;
  margin: 5px 0px;
  font-weight: 700;
  text-align: center;
  max-width: 775px; }

.byline {
  display: table;
  font-size: 14px !important;
  display: block;
  text-align: center; }
  .byline .name {
    font-weight: bold;
    display: block;
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important; }
    .byline .name .upper {
      text-transform: uppercase; }
  .byline .email {
    display: inline-block;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important; }
    .byline .email:hover {
      text-decoration: underline; }
  .byline .date {
    display: block;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 12px !important;
    color: #666; }

.readout {
  margin: 0.75em auto;
  display: block;
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  font-size: 16px !important;
  line-height: 1.4;
  text-align: center; }
  .readout a {
    color: #ED1941; }
    .readout a:hover {
      cursor: pointer; }
  .readout .single-photo, .readout .double-photo {
    width: 100%; }
  .readout img {
    display: block;
    width: 100%; }
  .readout .photog {
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
    margin: 0.25em 0;
    font-size: 12px !important;
    color: #666;
    text-align: right;
    display: block;
    width: 100%; }
  .readout .caption {
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
    margin: 0.25em 0;
    font-size: 14px !important;
    color: #666;
    display: block; }
  .readout .double-photo img {
    border: 2px solid #FFFFFF; }

.photog {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  margin: 0.25em 0 0 0;
  font-size: 10px !important;
  color: #666;
  text-align: right;
  display: block;
  width: 100%; }

.caption {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  margin: 0.5em 0 0.5em 0;
  font-size: 12px !important;
  color: #666;
  display: block; }

.subhed {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 22px !important;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }

.tinyhed {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 18px !important;
  margin: 1em 0 0.5em 0; }

.instructions {
  background: whitesmoke;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
  margin-bottom: 1em; }

hr {
  border-top: 1.5px solid #ccc; }

.dotted {
  border-top: 1.5px dashed #ccc; }

#sources {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 12px !important;
  clear: both;
  max-width: 485px;
  color: #9b9b9b;
  display: table; }
  #sources p {
    padding: 0.5em 0 0 0; }

.comments {
  margin-top: 1em;
  background: whitesmoke;
  padding: 0.25em; }

.footer-list {
  text-align: center;
  padding: 0px 0 20px 0; }
  .footer-list a {
    display: inline; }
  .footer-list img {
    display: block;
    margin: 1em auto;
    box-shadow: none; }
  .footer-list .footer-text {
    margin-right: 1em;
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px !important; }

.button {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;
  transition: border-color .218s;
  background: #008FD5;
  color: #FFFFFF;
  border: 0px;
  padding: 7px 12px; }
  .button:active, .button:hover {
    background-color: rgba(0, 143, 213, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.ghost-button {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;
  transition: border-color .218s;
  background: transparent;
  border: 2px solid #666;
  color: #666;
  padding: 7px 12px; }
  .ghost-button:active, .ghost-button:hover {
    background-color: rgba(102, 102, 102, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

@media (max-width: 768px) {
  .large-img {
    display: none; }
  .mobile-img {
    display: block; }
  .headline {
    font-size: 25px; }
  .subhed {
    font-size: 16px !important; }
  .readout {
    font-size: 14px !important; }
  .fa-facebook, .fa-twitter, .fa-google-plus {
    font-size: 18px !important; } }

.headline {
  font-size: 25px;
  text-align: left; }

.byline {
  font-size: 12px !important;
  text-align: left;
  line-height: 15px; }
  .byline .name a {
    color: #666; }
  .byline .date {
    font-size: 12px !important; }

.readout {
  font-size: 18px !important;
  text-align: left; }

.graphic-label {
  text-align: left; }

.question {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-weight: bold;
  font-size: 16px !important; }

.dollar-sign {
  font-size: 20px;
  vertical-align: 10px; }

.error {
  height: 20px;
  width: 100%;
  display: none;
  margin: 1px auto;
  text-align: center;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 12px !important; }
  .error .alert {
    padding: 2px !important; }

.tool-list-container {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0px; }
  .tool-list-container .item {
    display: block;
    margin: 0.5em 0px;
    text-align: center; }

input.income {
  font-weight: bold;
  color: #00AE4D; }

.leaflet-bottom.leaflet-left {
  background: #F4F4F4;
  padding: 0 0.25em;
  font-size: 11px;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important; }

.dotted-mobile {
  display: none; }
  @media (max-width: 768px) {
    .dotted-mobile {
      display: block; } }

.btn {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-weight: bold;
  font-size: 18px !important;
  padding: 10px;
  transition: background-color 0.3s linear;
  border-radius: 0px !important;
  border: solid 2px #008FD5;
  color: #008FD5; }
  .btn:hover {
    background-color: #aaa; }

.reset-button-holder {
  display: none; }

.hover-box-mobile-container {
  position: relative;
  margin-bottom: 30px; }

.hover-box-container {
  background: #fff;
  color: #000;
  padding: 10px;
  z-index: 9999;
  height: auto; }
  @media (max-width: 480px) {
    .hover-box-container#hover-box {
      width: 300px;
      position: absolute;
      display: none;
      box-shadow: 0px 0px 10px #999; } }
  .hover-box-container#hover-box-mobile {
    width: 300px;
    position: absolute;
    display: none; }
  @media (max-width: 992px) {
    .hover-box-container {
      padding-top: 30px; } }
  .hover-box-container .close-button-wrapper {
    display: none;
    padding: 0;
    cursor: pointer; }
    @media (max-width: 480px) {
      .hover-box-container .close-button-wrapper {
        display: block;
        position: absolute;
        top: 10px;
        right: 0px; } }
    .hover-box-container .close-button-wrapper img {
      width: 15px;
      height: 15px; }
  .hover-box-container .mobile-readout {
    display: block; }
    @media (max-width: 480px) {
      .hover-box-container .mobile-readout {
        display: none; } }
  .hover-box-container .sub-info {
    height: auto;
    margin-bottom: 0.5em;
    line-height: 14px; }
    .hover-box-container .sub-info .neighborhoods {
      display: inline;
      font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
      font-size: 14px !important;
      color: #666;
      font-weight: bold; }
  .hover-box-container .crime-rate {
    float: right;
    padding: 2px 4px;
    margin-top: 2px;
    border-radius: 4px;
    color: #fff;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    display: none;
    font-weight: bold;
    font-size: 14px !important; }
  .hover-box-container .float-left {
    float: left; }
  .hover-box-container .float-right {
    float: right; }
  .hover-box-container .housing-table {
    width: 100%;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important; }
    .hover-box-container .housing-table th {
      font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
      text-transform: uppercase;
      color: #666;
      font-size: 10px; }
      .hover-box-container .housing-table th:nth-child(2) {
        text-align: right; }
    .hover-box-container .housing-table tr {
      border-bottom: 1px #ccc;
      border-bottom-style: dashed; }
      .hover-box-container .housing-table tr:first-of-type, .hover-box-container .housing-table tr:last-of-type {
        border: none; }
    .hover-box-container .housing-table td {
      width: 50%; }
      .hover-box-container .housing-table td:nth-child(2) {
        text-align: right; }
  .hover-box-container #house-price {
    border-right: 1px dashed #ccc;
    height: 80px;
    width: 50%;
    padding: 2.5px 5px 0px 5px;
    float: left; }
  .hover-box-container #condo-price {
    border-right: none;
    height: 80px;
    width: 50%;
    padding: 2.5px 5px 0px 5px;
    float: right; }
  .hover-box-container .house-row {
    display: block;
    height: 20px;
    width: 100%;
    border-bottom: 1px #ccc !important;
    border-bottom-style: dashed !important;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 12px; }
    .hover-box-container .house-row:last-of-type {
      border: none; }
  .hover-box-container .school-list {
    height: auto;
    display: none;
    font-size: 10px !important;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    clear: both;
    padding: 0px 5px 0px 5px; }
    .hover-box-container .school-list .school-table {
      width: 100%; }
      .hover-box-container .school-list .school-table th {
        font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
        text-transform: uppercase;
        color: #666;
        width: 5px;
        font-weight: 900;
        font-size: 10px;
        text-align: center;
        padding-top: 2.5px; }
      .hover-box-container .school-list .school-table .name {
        text-align: left; }
      .hover-box-container .school-list .school-table td {
        text-align: center; }
      .hover-box-container .school-list .school-table .schools-row {
        border-bottom: 1px dashed #ccc;
        border-bottom-style: dashed; }
  .hover-box-container .no-school {
    display: none;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 18px !important;
    color: #bbb;
    margin-bottom: 10px;
    text-align: center; }
  .hover-box-container .table-label {
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
    text-transform: uppercase;
    font-size: 10px !important;
    font-weight: bold;
    color: #666; }
  .hover-box-container .zip-code,
  .hover-box-container .city,
  .hover-box-container .state {
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 18px !important;
    font-weight: bold; }

.button-container {
  margin-bottom: 30px;
  height: auto; }
  .button-container .standfirst {
    font-weight: bold; }
  .button-container .check-button {
    color: #008FD5;
    border: 2px solid #008FD5;
    overflow: hidden;
    display: inline-block;
    margin-right: 30px; }
    .button-container .check-button:last-child {
      margin-right: 0; }
    .button-container .check-button label {
      float: left;
      width: 100%;
      margin-bottom: 0;
      cursor: pointer;
      transition: background-color 0.3s linear; }
      .button-container .check-button label:hover {
        background-color: #aaa; }
      .button-container .check-button label span {
        display: block;
        font-size: 18px !important;
        font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
        line-height: 0px;
        padding: 10px; }
      .button-container .check-button label input {
        display: none; }
        .button-container .check-button label input:checked + span {
          background-color: #aaa;
          color: #000; }

.explainer {
  display: none;
  font-size: 18px !important;
  line-height: 18px;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  text-align: center;
  border-radius: 0.25em; }
  .explainer .first-graf {
    font-size: 18px !important; }
  .explainer .income-only {
    font-size: 18px !important;
    display: block;
    margin: 0px auto;
    margin-bottom: 15px; }
  .explainer .fa-level-down {
    display: none; }
  .explainer .reset {
    margin: 5px auto;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: hidden;
    width: 100%;
    height: 30px;
    display: inline-block;
    font-size: 16px !important;
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
    font-weight: bold; }
    .explainer .reset:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }

#map-container {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative !important; }

.map-info-container {
  margin-bottom: 20px; }
  @media (max-width: 992px) {
    .map-info-container {
      margin-bottom: 15px; } }

.hover-box-container ul {
  padding-left: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.hover-box-container .price-explainer {
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  font-size: 18px !important;
  line-height: 18px; }

.hover-box-container .percent-year {
  display: none; }

.interface-selector {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size: 14px !important;
  border: 2px solid #A6A6A6;
  font-weight: bold;
  color: #A6A6A6; }

.selected-interface--green {
  background-color: #00AE4D; }

.selected-interface--blue {
  background-color: #25408F; }

.selected-interface--red {
  background-color: #ED1941; }

.selected-interface--yellow {
  background-color: #D1A10D; }

.map-interface {
  background: #FFF; }
  .map-interface ul {
    text-align: center;
    padding-left: 0;
    margin-left: 0; }

.key-holder {
  clear: both;
  margin: 1em 0; }

.labels .label {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 10px !important;
  display: inline-block;
  padding: 0px;
  float: left;
  text-transform: uppercase;
  color: #aaa;
  margin: 0.5em 0; }
  .labels .label:nth-child(1) {
    text-align: left;
    width: 50%; }
  .labels .label:last-of-type {
    text-align: right;
    width: 50%; }
  .labels .label-middle {
    text-align: center;
    width: 33%;
    display: none; }

.labels .b-grade,
.labels .d-grade {
  display: none; }

.legend-block {
  width: 25%;
  float: left;
  border: 5px solid; }

.footer-list {
  font-size: 10px !important !important;
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  margin-top: 2em; }

.input-container {
  text-align: center; }
  .input-container .income-standfirst {
    font-size: 18px !important;
    font-weight: bold;
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important; }
  .input-container .income-box {
    font-size: 18px !important;
    padding: 10px;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    border: none;
    border-bottom: 2px solid #008FD5;
    text-align: center; }
    .input-container .income-box::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #008FD5;
      font-weight: bold; }
    .input-container .income-box:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #008FD5;
      opacity: 1;
      font-weight: bold; }
    .input-container .income-box::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #008FD5;
      opacity: 1;
      font-weight: bold; }
    .input-container .income-box:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #008FD5;
      font-weight: bold; }

.section:nth-child(2) {
  margin-top: 2em; }
