@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/McClatchySlab-Light.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/McClatchySlab-Regular.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/McClatchySlab-Semibold.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Slab";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/McClatchySlab-Bold.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/McClatchySans-Thin.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/McClatchySans-Regular.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/McClatchySans-Semibold.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/McClatchySans-Black.woff") format("woff"); }

@font-face {
  font-family: "McClatchy Sans Cond";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/McClatchySansCond-Semibold.woff") format("woff"); }

@font-face {
  font-family: "Lyon";
  font-style: normal;
  font-weight: 400;
  src: local("Lyon Regular"), local("Lyon-Regular"), url("/fonts/LyonTextWeb-Regular.woff") format("woff"); }


.font-xxl {
  font-size: 36px !important; }


.font-xl {
  font-size: 28px !important; }


.font-lg {
  font-size: 24px !important; }


.font-md {
  font-size: 20px !important; }


.font-base {
  font-size: 16px !important; }


.font-sm {
  font-size: 14px !important; }


.font-xs {
  font-size: 12px !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "McClatchy Sans Cond", "Roboto Condensed Medium", "HelveticaNeue-CondensedBold", sans-serif !important; }

body, html {
  color: #282828;
  background-color: #FFFFFF; }

.mobile-img {
  display: none; }

.sig {
  font-weight: bold;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  text-transform: uppercase; }

.center {
  text-align: center; }

.graphic-label {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 20px !important;
  color: #ED1941;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center; }

.headline {
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  font-size: 52px !important;
  line-height: 1.3;
  margin: 5px 0px;
  font-weight: normal;
  text-align: center;
  max-width: 775px; }

.byline {
  display: table;
  font-size: 14px !important;
  display: block;
  text-align: center; }
  .byline .name {
    font-weight: bold;
    display: block;
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important; }
    .byline .name .upper {
      text-transform: uppercase; }
  .byline .email {
    display: inline-block;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important; }
    .byline .email:hover {
      text-decoration: underline; }
  .byline .date {
    display: block;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 12px !important;
    color: #666; }

.readout {
  margin: 0.75em auto;
  display: block;
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  font-size: 16px !important;
  line-height: 1.4;
  text-align: center; }
  .readout a {
    color: #ED1941; }
    .readout a:hover {
      cursor: pointer; }
  .readout .single-photo, .readout .double-photo {
    width: 100%; }
  .readout img {
    display: block;
    width: 100%; }
  .readout .photog {
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
    margin: 0.25em 0;
    font-size: 12px !important;
    color: #666;
    text-align: right;
    display: block;
    width: 100%; }
  .readout .caption {
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
    margin: 0.25em 0;
    font-size: 14px !important;
    color: #666;
    display: block; }
  .readout .double-photo img {
    border: 2px solid #FFFFFF; }

.photog {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  margin: 0.25em 0 0 0;
  font-size: 10px !important;
  color: #666;
  text-align: right;
  display: block;
  width: 100%; }

.caption {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  margin: 0.5em 0 0.5em 0;
  font-size: 12px !important;
  color: #666;
  display: block; }

.subhed {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 24px !important;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }

.tinyhed {
  font-family: "McClatchy Sans Cond", "Roboto Condensed Medium", "HelveticaNeue-CondensedBold", sans-serif !important;
  font-size: 20px !important;
  margin: 1em 0 0.5em 0; }

.instructions {
  background: whitesmoke;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
  margin-bottom: 1em; }

hr {
  border-top: 1.5px solid #ccc; }

.dotted {
  border-top: 1.5px dashed #ccc; }

#sources {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 12px !important;
  clear: both;
  max-width: 485px;
  color: #9b9b9b;
  display: table; }
  #sources p {
    padding: 0.5em 0 0 0; }

.comments {
  margin-top: 1em;
  background: whitesmoke;
  padding: 0.25em; }

.footer-list {
  text-align: center;
  padding: 0px 0 20px 0; }
  .footer-list a {
    display: inline; }
  .footer-list img {
    display: block;
    margin: 1em auto;
    box-shadow: none; }
  .footer-list .footer-text {
    margin-right: 1em;
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px !important; }

.button {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;
  transition: border-color .218s;
  background: #008FD5;
  color: #FFFFFF;
  border: 0px;
  padding: 7px 12px; }
  .button:active, .button:hover {
    background-color: rgba(0, 143, 213, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

.ghost-button {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  letter-spacing: .03rem;
  margin: 0 0 0.3em;
  text-align: center;
  vertical-align: middle;
  transition: border-color .218s;
  background: transparent;
  border: 2px solid #666;
  color: #666;
  padding: 7px 12px; }
  .ghost-button:active, .ghost-button:hover {
    background-color: rgba(102, 102, 102, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

@media (max-width: 768px) {
  .large-img {
    display: none; }
  .mobile-img {
    display: block; }
  .headline {
    font-size: 25px; }
  .subhed {
    font-size: 16px !important; }
  .readout {
    font-size: 14px !important; }
  .fa-facebook, .fa-twitter, .fa-google-plus {
    font-size: 20px !important; } }

.headline {
  font-size: 25px;
  text-align: left; }

.byline {
  font-size: 12px !important;
  text-align: left;
  line-height: 15px; }
  .byline .name a {
    color: #666; }
  .byline .date {
    font-size: 12px !important; }

.readout {
  font-size: 24px !important;
  text-align: left; }
  @media (max-width: 480px) {
    .readout {
      font-size: 20px !important; } }

.graphic-label {
  text-align: left; }

.question {
  font-family: "McClatchy Sans Cond", "Roboto Condensed Medium", "HelveticaNeue-CondensedBold", sans-serif !important;
  font-weight: bold;
  font-size: 16px !important; }

.dollar-sign {
  font-size: 20px;
  vertical-align: 10px; }

.error {
  height: 20px;
  width: 100%;
  display: none;
  margin: 1px auto;
  text-align: center;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 12px !important; }
  .error .alert {
    padding: 2px !important; }

.tool-list-container {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0px; }
  .tool-list-container .item {
    display: block;
    margin: 0 0 20px 0px;
    text-align: center; }

input.income {
  font-weight: bold;
  color: #00AE4D; }

.leaflet-bottom.leaflet-left {
  background: #F4F4F4;
  padding: 0 0.25em;
  font-size: 11px;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important; }

.dotted-mobile {
  display: none; }
  @media (max-width: 768px) {
    .dotted-mobile {
      display: block; } }

.btn {
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-weight: bold;
  font-size: 20px !important;
  padding: 10px;
  transition: background-color 0.3s linear;
  border-radius: 0px !important;
  border: solid 2px #008FD5;
  color: #008FD5; }
  .btn:hover {
    background-color: #008FD5;
    color: white;
    border: solid 2px #008FD5; }

.reset-button-holder {
  display: none; }

.heading.section-main-heading.link {
  font-family: "McClatchy Sans Cond", "Roboto Condensed Medium", "HelveticaNeue-CondensedBold", sans-serif !important;
  margin-bottom: 15px;
  margin-right: 15px; }
  .heading.section-main-heading.link a:hover {
    text-decoration: none; }

.published-date {
  display: inline;
  padding-left: 0;
  text-transform: uppercase;
  color: #adadad;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  font-size: 14px !important; }

.map-button {
  background-color: white;
  display: block;
  margin-bottom: 10px;
  font-size: 20px !important;
  font-family: sans-serif;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s linear; }
  .map-button:hover {
    background-color: #A6A6A6; }
  .map-button__outer {
    position: absolute;
    top: 25%;
    right: 25px;
    z-index: 999;
    transform: translateY(-50%); }

.map-tooltip {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 999;
  padding: 10px;
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  font-weight: bold;
  font-size: 20px !important; }

.footer {
  margin: 3em 0; }
  .footer hr {
    height: 2px;
    width: 100%;
    background-color: #A6A6A6; }

.hover-box-mobile-container,
.hover-box-desktop-container {
  position: relative;
  margin-bottom: 30px; }

#hover-box-mobile,
#hover-box {
  display: none; }

.hover-box-container {
  background: #fff;
  color: #000;
  z-index: 9999;
  height: auto; }
  @media (max-width: 992px) {
    .hover-box-container {
      padding-top: 30px; } }
  .hover-box-container .close-button-wrapper {
    display: none;
    padding: 0;
    cursor: pointer; }
    @media (max-width: 480px) {
      .hover-box-container .close-button-wrapper {
        display: block;
        position: absolute;
        top: 10px;
        right: 0px; } }
    .hover-box-container .close-button-wrapper img {
      width: 15px;
      height: 15px; }
  .hover-box-container .mobile-readout {
    display: block; }
    @media (max-width: 480px) {
      .hover-box-container .mobile-readout {
        display: none; } }
  .hover-box-container .sub-info .neighborhoods {
    display: inline;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 20px !important;
    line-height: 1.25; }
  .hover-box-container .crime-rate {
    float: right;
    padding: 2px 4px;
    margin-top: 2px;
    border-radius: 4px;
    color: #000;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    display: none;
    font-size: 14px !important;
    line-height: 14px !important; }
  .hover-box-container .crime-level {
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle; }
  .hover-box-container .housing-heading {
    font-size: 20px !important;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-weight: bold; }
    .hover-box-container .housing-heading span {
      font-weight: normal; }
  .hover-box-container .housing-table {
    text-align: center; }
  .hover-box-container .housing-item {
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px; }
    .hover-box-container .housing-item--year {
      background-color: #E8F4E8;
      border-right: solid 3px white; }
    .hover-box-container .housing-item--growth {
      background-color: #E1E1EE; }
  .hover-box-container .housing-year {
    color: #00AE4D; }
  .hover-box-container .housing-growth {
    color: #25408F; }
  .hover-box-container .housing-year,
  .hover-box-container .housing-growth {
    font-size: 20px !important; }
  .hover-box-container .housing-number {
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 24px !important;
    font-weight: bold; }
    @media (max-width: 480px) {
      .hover-box-container .housing-number {
        font-size: 20px !important; } }
    .hover-box-container .housing-number.house-percent, .hover-box-container .housing-number.condo-percent {
      color: #25408F; }
    .hover-box-container .housing-number--green {
      color: #00AE4D; }
    .hover-box-container .housing-number--blue {
      color: #25408F; }
  .hover-box-container .school-list {
    display: none;
    font-size: 10px !important;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    margin-bottom: 15px;
    max-height: 250px;
    overflow-y: scroll;
    width: 100%; }
    @media (max-height: 480px) {
      .hover-box-container .school-list {
        max-height: 200px; } }
    .hover-box-container .school-list .school-table {
      width: 100%; }
      .hover-box-container .school-list .school-table th {
        font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
        color: #D1A10D;
        font-size: 17px;
        text-align: center;
        padding-top: 2.5px;
        font-weight: normal; }
        .hover-box-container .school-list .school-table th.name {
          font-weight: bold;
          font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
          font-size: 20px !important; }
      .hover-box-container .school-list .school-table .name {
        text-align: left;
        color: black;
        font-size: 17px; }
      .hover-box-container .school-list .school-table .grade {
        font-size: 20px !important;
        font-weight: bold;
        color: #D1A10D; }
      .hover-box-container .school-list .school-table td {
        text-align: center;
        padding: 5px; }
      .hover-box-container .school-list .school-table .schools-row:nth-child(even) {
        background-color: #F9F0DF; }
  .hover-box-container .no-school {
    display: none;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 20px !important;
    color: #bbb;
    margin-bottom: 10px;
    text-align: center; }
  .hover-box-container .table-label {
    font-family: "McClatchy Sans Cond", "Roboto Condensed Medium", "HelveticaNeue-CondensedBold", sans-serif !important;
    text-transform: uppercase;
    font-size: 10px !important;
    font-weight: bold;
    color: #666; }
  .hover-box-container .zip-code,
  .hover-box-container .city,
  .hover-box-container .state,
  .hover-box-container .parentheses {
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    font-size: 24px !important;
    font-weight: bold; }
  .hover-box-container .zip-code-heading,
  .hover-box-container .neighborhood-heading {
    margin-bottom: 15px; }

.share-heading {
  text-align: center;
  font-weight: bold;
  font-size: 20px !important;
  margin-bottom: 15px;
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important; }

.share-link {
  text-align: center;
  width: 100%;
  display: inline-block; }
  .share-link img {
    width: 50px; }

.button-container {
  margin-bottom: 30px;
  height: auto; }
  .button-container .standfirst {
    font-weight: bold;
    margin-bottom: 10px; }
  .button-container .check-button {
    color: #008FD5;
    border: 2px solid #008FD5;
    overflow: hidden;
    display: inline-block;
    margin-right: 30px;
    min-width: 250px; }
    @media (max-width: 480px) {
      .button-container .check-button {
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
        min-width: none; } }
    .button-container .check-button:last-child {
      margin-right: 0; }
    .button-container .check-button label {
      float: left;
      width: 100%;
      margin-bottom: 0;
      cursor: pointer;
      transition: background-color 0.3s linear; }
      .button-container .check-button label:hover {
        background-color: #008FD5;
        color: white; }
      .button-container .check-button label span {
        display: block;
        font-size: 20px !important;
        font-family: "McClatchy Sans Cond", "Roboto Condensed Medium", "HelveticaNeue-CondensedBold", sans-serif !important;
        line-height: 0px;
        padding: 10px; }
      .button-container .check-button label input {
        display: none; }
        .button-container .check-button label input:checked + span {
          background-color: #008FD5;
          color: white; }

.explainer {
  display: none;
  font-size: 24px !important;
  line-height: 18px;
  font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important;
  text-align: center;
  border-radius: 0.25em; }
  @media (max-width: 480px) {
    .explainer {
      font-size: 20px !important; } }
  .explainer .first-graf {
    font-size: 24px !important;
    line-height: 1.25; }
    @media (max-width: 480px) {
      .explainer .first-graf {
        font-size: 20px !important; } }
  .explainer .income-only {
    font-size: 24px !important;
    display: block;
    margin: 0px auto;
    margin-bottom: 15px;
    line-height: 1.25; }
    @media (max-width: 480px) {
      .explainer .income-only {
        font-size: 20px !important; } }

#map-container {
  width: 100%;
  height: 100vh;
  position: relative !important; }

.map-info-container {
  margin-bottom: 20px; }
  @media (max-width: 992px) {
    .map-info-container {
      margin-bottom: 15px; } }

.hover-box-container ul {
  padding-left: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.hover-box-container .price-explainer {
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  font-size: 20px !important;
  line-height: 18px; }

.hover-box-container .percent-year {
  display: none; }

.interface-selector {
  font-family: "McClatchy Sans Cond", "Roboto Condensed Medium", "HelveticaNeue-CondensedBold", sans-serif !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size: 14px !important;
  border: 2px solid #A6A6A6;
  font-weight: bold;
  color: #A6A6A6;
  background-color: white;
  transition: color 0.3s linear, background-color 0.3s linear; }
  .interface-selector--green:hover {
    color: #FFFFFF;
    background-color: rgba(0, 174, 77, 0.8); }
  .interface-selector--green.selected-interface {
    background-color: #00AE4D;
    border-color: #00AE4D; }
  .interface-selector--blue:hover {
    color: #FFFFFF;
    background-color: rgba(37, 64, 143, 0.8); }
  .interface-selector--blue.selected-interface {
    background-color: #25408F;
    border-color: #25408F; }
  .interface-selector--red:hover {
    color: #FFFFFF;
    background-color: rgba(237, 25, 65, 0.8); }
  .interface-selector--red.selected-interface {
    background-color: #ED1941;
    border-color: #ED1941; }
  .interface-selector--yellow:hover {
    color: #FFFFFF;
    background-color: rgba(209, 161, 13, 0.8); }
  .interface-selector--yellow.selected-interface {
    background-color: #D1A10D;
    border-color: #D1A10D; }

.selected-interface {
  color: white; }

.map-interface {
  background: #FFF; }
  .map-interface ul {
    text-align: center;
    padding-left: 0;
    margin-left: 0; }

.key-holder {
  clear: both;
  margin: 1em 0; }

.labels .label {
  font-family: "McClatchy Sans Cond", "Roboto Condensed Medium", "HelveticaNeue-CondensedBold", sans-serif !important;
  font-size: 10px !important;
  display: inline-block;
  padding: 0px;
  float: left;
  text-transform: uppercase;
  color: #aaa;
  margin: 0.5em 0; }
  .labels .label:nth-child(1) {
    text-align: left;
    width: 50%; }
  .labels .label:last-of-type {
    text-align: right;
    width: 50%; }
  .labels .label-middle {
    text-align: center;
    width: 33%;
    display: none; }

.labels .b-grade,
.labels .d-grade {
  display: none; }

.legend-block {
  width: 25%;
  float: left;
  border: 10px solid; }

.footer-list {
  font-size: 10px !important !important;
  font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
  margin-top: 2em; }

.input-container {
  text-align: center; }
  .input-container .income-standfirst {
    font-size: 24px !important;
    font-weight: bold;
    font-family: "McClatchy Sans", Georgia, Times, "Times New Roman", sans-serif !important; }
    @media (max-width: 480px) {
      .input-container .income-standfirst {
        font-size: 20px !important; } }
  .input-container .income-box {
    font-size: 20px !important;
    padding: 10px;
    font-family: "McClatchy Slab", Georgia, Times, "Times New Roman", serif !important;
    border: none;
    border-bottom: 2px solid #008FD5;
    text-align: center;
    margin-bottom: 30px; }
    .input-container .income-box::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #008FD5;
      font-weight: bold; }
    .input-container .income-box:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #008FD5;
      opacity: 1;
      font-weight: bold; }
    .input-container .income-box::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #008FD5;
      opacity: 1;
      font-weight: bold; }
    .input-container .income-box:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #008FD5;
      font-weight: bold; }

.results-outer {
  margin-bottom: 100px;
  padding-bottom: 200px;
  border-bottom: solid 5px #A6A6A6; }

.input-group {
  margin: 0 auto; }
