.tool-list-container {
    list-style: decimal;
    list-style-position: inside;
    padding-left: 0px;
    .item {
        display: block;
        margin: 0.5em 0px;
        text-align: center;
    }
}
