.hover-box-mobile-container {
  position: relative;
}

.hover-box-container {
    &#hover-box {
      @media (max-width: $screen-xs) {
        width: 300px;
        position: absolute;
        display: none;
        box-shadow: 0px 0px 10px #999;
      }
    }
    &#hover-box-mobile {
      width: 300px;
      position: absolute;
      display: none;
    }
    background: #fff;
    color: #000;
    padding: 5px 8px;
    z-index: 9999;
    height: auto;
    .close-button-wrapper {
      display: none;
      @media (max-width: $screen-xs) {
        display: block;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    }
    .mobile-readout {
      display: block;
      @media (max-width: $screen-xs) {
        display: none;
      }
    }
    .sub-info {
        height: auto;
        margin-bottom: 0.5em;
        line-height: 14px;
        .neighborhoods {
            display: inline;
            font-family: $serif;
            font-size: 11px;
            color: $text-gray;
            font-weight: bold;
        }
    }
    .crime-rate {
        float: right;
        padding: 2px 4px;
        margin-top: 2px;
        border-radius: 4px;
        color: #fff;
        font-family: $serif;
        display: none;
        font-weight: bold;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .housing-table {
        width: 100%;
        font-family: $serif;
        th {
            font-family: $sans-serif-condensed;
            text-transform: uppercase;
            color: $text-gray;
            font-size: 10px;
            &:nth-child(2) {
                text-align: right;
            }
        }
        tr {
            border-bottom: 1px #ccc;
            border-bottom-style: dashed;
            &:first-of-type, &:last-of-type {
                border: none;
            }
        }
        td {
            width: 50%;
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
    #house-price {
        border-right: 1px dashed #ccc;
        height: 80px;
        width: 50%;
        padding: 2.5px 5px 0px 5px;
        float: left;
    }
    #condo-price {
        border-right: none;
        height: 80px;
        width: 50%;
        padding: 2.5px 5px 0px 5px;
        float: right;
    }
    .house-row {
        display: block;
        height: 20px;
        width: 100%;
        border-bottom: 1px #ccc !important;
        border-bottom-style: dashed !important;
        font-family: $serif;
        font-size: 12px;
        &:last-of-type {
            border: none;
        }
    }
    .school-list {
        height: auto;
        display: none;
        font-size: $xxs;
        font-family: $serif;
        clear: both;
        padding: 0px 5px 0px 5px;
        .school-table {
            width: 100%;
            th {
                font-family: $sans-serif-condensed;
                text-transform: uppercase;
                color: $text-gray;
                width: 5px;
                font-weight: 900;
                font-size: 10px;
                text-align: center;
                padding-top: 2.5px;
            }
            .name {
                text-align: left;
            }
            td {
                text-align: center;
            }
            .schools-row {
                border-bottom: 1px dashed #ccc;
                border-bottom-style: dashed;
            }
        }
    }
    .no-school {
        display: none;
        font-family: $serif;
        font-size: $md;
        color: #bbb;
        margin-bottom: 10px;
        text-align: center;
    }
    .table-label {
        font-family: $sans-serif-condensed;
        text-transform: uppercase;
        font-size: $xxs;
        font-weight: bold;
        color: $text-gray;
    }
    .zip-code,
    .city,
    .state {
        font-family: $serif;
        font-size: $base;
        font-weight: bold;
    }
}
