.share-heading {
  text-align: center;
  font-weight: bold;
  font-size: $md;
  margin-bottom: 15px;
  font-family: $serif;
}

.share-link {
  display: inline-block;
  margin-right: 15px;

  &:last-child {
    margin-right: 0; 
  }

  img {
    width: 50px;
    text-align: center;
  }
}

.share-wrapper {
  text-align: center
}
