<!DOCTYPE html>
<html>
  <head>
    <!-- META TAGS and CSS -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida.">
<meta name="author" content="Nicholas Nehamas">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="real estate, affordable housing, condos, single-family homes, townhouses, south florida, miami-dade county, broward county, zipcodes">
<meta name="copyright" content="&copy; 2016 Miami Herald">
<meta name="robots" content="index,follow">
<meta property="og:title" content="Graphic: Finding affordable housing in Miami-Dade and Broward counties"/>
<meta property="og:type" content="article"/>
<meta property="og:description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida."/>
<meta property="og:image" content="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/share-image.png"/>
<meta property="og:url" content="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes"/>
<meta property="og:site_name " content="Miami Herald"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MiamiHerald">
<meta name="twitter:creator" content="@MiamiHerald">
<meta name="twitter:title" content="Graphic: Finding affordable housing in Miami-Dade and Broward counties">
<meta name="twitter:description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida.">
<meta name="twitter:image:src" content="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/share-image.png">

<link rel="icon" type="image/jpg" href="http://www.miamiherald.com/static/theme/miamiherald/base/ico/favicon.png"/>
<link rel="image_src" href="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/img/share-image.png" />

<link rel="stylesheet" href="http://www.miamiherald.com/static/media/projects/fonts/fonts.css"/>
<link rel="stylesheet" href="css/libs/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/libs/bootstrap.css">
<link rel="stylesheet" href="css/libs/leaflet.css">
<link rel="stylesheet" href="css/styles.css">

    <title>Finding affordable housing in Miami-Dade and Broward counties | Miami Herald</title>
  </head>
  <body>
      <!-- CONTENT -->
      

<div ng-app="housingApp">
	<div ng-controller="HousingFormController">
		<div class="map-info-container" id="map-info">
			<h1 class="heading section-main-heading link">
				<a href="http://www.elnuevoherald.com/bienes-raices/">Bienes Raíces</a>
			</h1>
			<p class="published-date">
				Marzo 30, 2017
			</p>
			<div class="headline">Vea dónde puede comprar una vivienda en el sur de la Florida</div>
			<div class="byline">
				Por Nicholas Nehamas y Chris Williams <br></br>
				<a href="mailto:nnehamas@miamiherald.com">nnehamas@miamiherald.com</a>
			</div>

			<div class="button-container" id="button-container">

				<p class="readout">El alza de los precios en los bienes raíces hace más dificil para algunos encontrar un hogar al alcance de su presupuesto, ya sea para comprar o rentar. Con esta herramienta puede ver dónde puede comprar una casa acorde con su presupuesto, la calidad de las escuelas, seguridad y una comparación del crecimiento de los precios anualmente.</p>

				<div class="tool-list-container readout">
					<div class="col-md-8 col-md-offset-2">
						<span class='item'>
							<div class="standfirst">
								Me gustaría comprar...
							</div>
							<div class="input-group">
								<span class="check-button" id="check-button-house">
									<label>
										<input class="house" type="checkbox" ng-model="houseTypeChecked"></input>
										<span><i class="fa fa-home"></i> Casa</span>
									</label>
								</span>
								<span class="check-button" id="check-button-condo">
									<label>
										<input class="condo" type="checkbox" ng-model="condoTypeChecked"></input>
										<span><i class="fa fa-building"></i> Condo o townhouse</span>
									</label>
								</span>
							</div>
						</span>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<span ng-show="houseTypeChecked || condoTypeChecked" class="item ng-hide">
							<div class="standfirst">
								Códigos postales que van de acuerdo a mi presupuesto basado en...
							</div>
							<div class="input-group">
								<span class="check-button" id="check-button-income">
									<label>
										<input class="income" type="checkbox" ng-model="incomeTypeChecked"></input>
										<span><i class="fa fa-briefcase"></i> Mis ingresos</span>
									</label>
								</span>
								<span class="check-button" id="check-button-savings">
									<label>
										<input class="savings" type="checkbox" ng-model="savingsTypeChecked"></input>
										<span><i class="fa fa-money"></i> Precio máximo</span>
									</label>
								</span>
							</div>
						</span>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<div ng-show="incomeTypeChecked || savingsTypeChecked" class="input-container ng-hide" id="input-container">
							<div class="income-standfirst"></div>
							<input name="income-box" class="income-box" type="text" placeholder="$"></input>
							<span class="input-group-btn">
								<button class="income-button income-btn btn btn-default btn-lg" type="button" value="Execute"><i class="fa fa-search"></i> Ver los códigos postales</button>
							</span>
						</div>
					</div>

					<div class="col-md-8 col-md-offset-2">
						<div class="error">
							<div class="alert alert-danger" role="alert">
								<i class="fa fa-info-circle"></i>
								<span class="sr-only">Error:</span> ingrese un número válido
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-hide="mapIt" id="mapIt">
			<div class="col-md-8 col-md-offset-2 results-outer">
				<div class="explainer">
					<p class="income-only">Los expertos sugieren que usted paga, como mucho, tres veces y media su ingreso anual en una casa. Un ingreso de <span class="income-ammount"></span> haría que su precio máximo fuera <span class="income-spend"></span>.</p>
					<p class="first-graf">Hay <span class="zip-count"></span> <span>códigos postales</span> en los condados de Miami-Dade y Broward con <span class="housing"></span> al alcance de su presupuesto.</p>
					<button class="btn btn-default btn-lg" type="button" ng-click="mapIt = true"><i class="fa fa-map-signs"></i> Ver en el mapa</button>
					<button class="reset btn btn-default btn-lg" type="button" value="Reset" ng-click="mapIt = false"><i class="fa fa-pencil"></i> Editar búsqueda</button>
				</div>
			</div>
		</div>

		<div id="map-outer" ng-show="mapIt">
			<div class="col-xs-12 col-md-6 hover-box-mobile-container">
				<div class="map-tooltip"></div>
				<div id="interface-container-mobile">
					<div class="map-interface">
						<ul>
							<li class="price-select interface-selector interface-selector--green selected-interface">Precio</li>
							<li class="percent-select interface-selector interface-selector--blue">Crecimiento</li>
							<li class="crime-select interface-selector interface-selector--red">Crimen</li>
							<li class="school-select interface-selector interface-selector--yellow">Escuelas</li>
						</ul>

						<div class="key-holder">
							<div class="key"></div>
							<div class="clearfix"></div>
							<div class="labels">
								<h6 class="label label-left"></h6>
								<h6 class="label b-grade"></h6>
								<h6 class="label label-middle"></h6>
								<h6 class="label d-grade"></h6>
								<h6 class="label label-right"></h6>
							</div>
						</div>

						<div class="clearfix"></div>

						<p class="readout">
							<span class="hover-instructions">Haga clic en un código postal para obtener más información</span>
						</p>
					</div>
				</div>
				<div id="map-container"></div>
				<div class="map-button__outer">
					<div class="map-button reset" value="Reset" ng-click="mapIt = false"><i class="fa fa-pencil" aria-hidden="true"></i> <span>Editar búsqueda</span></div>
					<div class="map-button show-all"><i class="fa fa-undo" aria-hidden="true"></i> <span>Ver todo</span></div>
				</div>
				<div class="hover-box-container" id="hover-box-mobile">
					<div class="zip-code-heading">
						<span class="zip-code"></span> <span class="parentheses">(<span class="city"></span>)</span>
						<span class="crime-rate"></span>
						<span class="crime-level"></span>
					</div>

					<div class="neighborhood-heading">
						<div class="sub-info">
							<span class='neighborhoods'>Barrios incluyen:
								<span class="hoods"></span></span>
						</div>
					</div>

					<div id="house-price" ng-hide="condoTypeChecked" ng-show="houseTypeChecked">
						<div class="housing-heading">
							Median value <span class="current-month"></span>
						</div>
						<div class="housing-table">
							<div class="housing-item housing-item--year col-xs-4">
								<div class="housing-year housing-year--prev"></div>

								<div class="housing-number house-price-fourteen"></div>
							</div>
							<div class="housing-item housing-item--year col-xs-4">
								<div class="housing-year housing-year--curr"></div>

								<div class="housing-number house-price-fifteen"></div>
							</div>
							<div class="housing-item housing-item--growth col-xs-4">
								<div class="housing-growth">
									Crecimiento
								</div>
								<div class="housing-number house-percent">

								</div>
							</div>
						</div>
					</div>

					<div id="condo-price" ng-hide="houseTypeChecked" ng-show="condoTypeChecked">
						<div class="housing-heading">
							Median value <span></span>
						</div>
						<div class="housing-table">
							<div class="housing-item housing-item--year col-xs-4">
								<div class="housing-year housing-year--prev"></div>

								<div class="housing-number condo-price-fourteen"></div>
							</div>
							<div class="housing-item housing-item--year col-xs-4">
								<div class="housing-year housing-year--curr"></div>

								<div class="housing-number condo-price-fifteen"></div>
							</div>
							<div class="housing-item housing-item--growth col-xs-4">
								<div class="housing-growth">
									Growth
								</div>
								<div class="housing-number condo-percent"></div>
							</div>
						</div>
					</div>

					<div class="school-list">
						<table class='school-table'>
							<tr class='school-head'>
								<th class='name'>Grado escolar</th>
								<th>2013-14</th>
								<th>2014-15</th>
								<th>2015-16</th>
							</tr>
						</table>
						<h4 class="no-school">Sin datos escolares</h4>
					</div>

					<div class="clearfix"></div>

					<div class="share-container">
						<div class="share-heading">
							Share this tool
						</div>
						<div class="share-wrapper">
							<a href="https://twitter.com/intent/tweet?text=" class="js-share share-link" data-share="http://hrld.us/housing-costs-es"><img src="http://pubsys.miamiherald.com/static/media/projects/2017/housing-prices-update-es/img/twitter-share.png" alt="Share on twitter"></img></a>
							<a href="https://www.facebook.com/sharer/sharer.php?u=" class="js-share share-link" data-share="http://hrld.us/housing-costs-es"><img src="http://pubsys.miamiherald.com/static/media/projects/2017/housing-prices-update-es/img/facebook-share.png" alt="Share on facebook"></img></a>
							<a href="mailto:?subject=El Nuevo Herald: Vea dónde puede comprar una vivienda en el sur de la Florida&amp;body=Vea dónde puede comprar una vivienda en el sur de la Florida: http://hrld.us/housing-costs-es-es" class="share-link"><img src="http://pubsys.miamiherald.com/static/media/projects/2017/housing-prices-update-es/img/email-share.png" alt="Share by email"></img></a>
						</div>
					</div>
				</div><!-- END HOVERBOX CONTAINER -->
			</div><!-- END MOBILE HOVERBOX -->
			<div class="col-xs-12 col-md-6 hover-box-desktop-container">
				<div id="interface-container">
					<div class="map-interface">
						<ul>
							<li class="price-select interface-selector interface-selector--green selected-interface">Precio</li>
							<li class="percent-select interface-selector interface-selector--blue">Crecimiento</li>
							<li class="crime-select interface-selector interface-selector--red">Crimen</li>
							<li class="school-select interface-selector interface-selector--yellow">Escuelas</li>
						</ul>

						<div class="key-holder">
							<div class="key-standfirst"></div>
							<div class="key"></div>
							<div class="clearfix"></div>
							<div class="labels">
								<h6 class="label label-left"></h6>
								<h6 class="label b-grade"></h6>
								<h6 class="label label-middle"></h6>
								<h6 class="label d-grade"></h6>
								<h6 class="label label-right"></h6>
							</div>
						</div>

						<div class="clearfix"></div>

						<p class="readout">
							<span class="hover-instructions">Haga clic en un código postal para más información.</span>
						</p>
					</div>
				</div>
				<div class="hover-box-container" id="hover-box">
					<div class="zip-code-heading">
						<span class="zip-code"></span> <span class="parentheses">(<span class="city"></span>)</span>
						<span class="crime-rate"></span>
						<span class="crime-level"></span>
					</div>

					<div class="neighborhood-heading">
						<div class="sub-info">
							<span class='neighborhoods'>Barrios incluyen:
								<span class="hoods"></span>
							</span>
						</div>
					</div>

					<div id="house-price" ng-hide="condoTypeChecked" ng-show="houseTypeChecked">
						<div class="housing-heading">
							Precio medio <span class="current-month"></span>
						</div>
						<div class="housing-table">
							<div class="housing-item housing-item--year col-xs-4">
								<div class="housing-year housing-year--prev"></div>

								<div class="housing-number house-price-fourteen"></div>
							</div>
							<div class="housing-item housing-item--year col-xs-4">
								<div class="housing-year housing-year--curr"></div>

								<div class="housing-number house-price-fifteen"></div>
							</div>
							<div class="housing-item housing-item--growth col-xs-4">
								<div class="housing-growth">
									Crecimiento
								</div>
								<div class="housing-number house-percent">

								</div>
							</div>
						</div>
					</div>

					<div id="condo-price" ng-hide="houseTypeChecked" ng-show="condoTypeChecked">
						<div class="housing-heading">
							Precio medio <span class="current-month"></span>
						</div>
						<div class="housing-table">
							<div class="housing-item housing-item--year col-xs-4">
								<div class="housing-year housing-year--prev"></div>

								<div class="housing-number condo-price-fourteen"></div>
							</div>
							<div class="housing-item housing-item--year col-xs-4">
								<div class="housing-year housing-year--curr"></div>

								<div class="housing-number condo-price-fifteen"></div>
							</div>
							<div class="housing-item housing-item--growth col-xs-4">
								<div class="housing-growth">
									Crecimiento
								</div>
								<div class="housing-number condo-percent"></div>
							</div>
						</div>
					</div>

					<div class="school-list">
						<table class="school-table">
							<tr class="school-head">
								<th class='name'>Grado escolar</th>
								<th>2013-14</th>
								<th>2014-15</th>
								<th>2015-16</th>
							</tr>
						</table>
						<h4 class="no-school">Sin datos escolares</h4>
					</div>

					<div class="share-container">
						<div class="share-heading">
							Compartir esta herramienta
						</div>
						<div class="share-wrapper">
							<a href="https://twitter.com/intent/tweet?text=" class="js-share share-link" data-share="http://hrld.us/housing-costs-es"><img src="http://pubsys.miamiherald.com/static/media/projects/2017/housing-prices-update-es/img/twitter-share.png" alt="Compartir en Twitter"></img></a>
							<a href="https://www.facebook.com/sharer/sharer.php?u=hrld.us/housing-costs-es" class="share-link" target="_blank"><img src="http://pubsys.miamiherald.com/static/media/projects/2017/housing-prices-update-es/img/facebook-share.png" alt="Compartir en Facebook"></img></a>
							<a href="mailto:?subject=El Nuevo Herald: Vea dónde puede comprar una vivienda en el sur de la Florida&amp;body=Vea dónde puede comprar una vivienda en el sur de la Florida: http://hrld.us/housing-costs-es" class="share-link"><img src="http://pubsys.miamiherald.com/static/media/projects/2017/housing-prices-update-es/img/email-share.png" alt="Compartir en Email"></img></a>
						</div>
					</div>
				</div><!-- END HOVERBOX CONTAINER -->
			</div><!-- END DESKTOP HOVERBOX -->
			<div class="footer">
				<div id="sources">
					<p>Sources: Zillow, Florida Department of Education y ESRI</p>
				</div>
				<hr></hr>
			</div>
		</div>
	</div>
</div><!-- END MAP -->


      <!-- JS LIBRARIES -->
      <script src="js/libs/d3/d3.min.js"></script>
<script src="js/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs//1.6.1/angular-animate.min.js"></script>
<script src="js/libs/numeral/numeral.min.js"></script>
<script src="js/libs/jquery/jquery.quicksearch.min.js"></script>
<script src="js/libs/modernizr/modernizr.js"></script>
<script src="js/libs/bootstrap/bootstrap.min.js"></script>
<script src="js/libs/sinclair.js"></script>
<script src="http://pubsys.miamiherald.com/static/media/projects/2016/housing-prices-update/js/libs/data/zipdata_new.js"></script>
<script src="js/libs/leaflet/leaflet.js"></script>
<script src="js/libs/leaflet/tile.stamen.js"></script>
<script src="js/functions.js"></script>
<script src="js/app.js"></script>
<script src="js/main.js"></script>
<script src="js/share.js"></script>

  </body>
</html>
