<!DOCTYPE html>
<html>
  <head>
    <!-- META TAGS and CSS -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida.">
<meta name="author" content="Chris Alcantara">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="real estate, affordable housing, condos, single-family homes, townhouses, south florida, miami-dade county, broward county, zipcodes">
<meta name="copyright" content="&copy; 2015 Miami Herald">
<meta name="robots" content="index,follow">
<meta property="og:title" content="Graphic: Finding affordable housing in Miami-Dade and Broward counties"/>
<meta property="og:type" content="article"/> 
<meta property="og:description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida."/>
<meta property="og:image" content="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes/img/fb.jpg"/>
<meta property="og:url" content="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes"/>
<meta property="og:site_name " content="Miami Herald"/> 
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MiamiHerald">
<meta name="twitter:creator" content="@MiamiHerald">
<meta name="twitter:title" content="Graphic: Finding affordable housing in Miami-Dade and Broward counties">
<meta name="twitter:description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida.">
<meta name="twitter:image:src" content="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes/img/fb.jpg">

<link rel="icon" type="image/jpg" href="http://www.miamiherald.com/static/theme/miamiherald/base/ico/favicon.png"/>
<link rel="image_src" href="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes/img/fb.jpg" />

<link rel="stylesheet" href="css/libs/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/libs/bootstrap.css">
<link rel="stylesheet" href="css/libs/leaflet.css">
<link rel="stylesheet" href="css/styles.css">
    <title>Finding affordable housing in Miami-Dade and Broward counties | Miami Herald</title>
  </head>
  <body>
      <!-- CONTENT -->
      

<div class="container" ng-app="housingApp">

	<div class="map-info-container" id="map-info" ng-controller="HousingFormController">
		<span class="graphic-label">The housing market</span>
		<div class="headline">What will your money buy?</div>
		<div class="byline">
			<span class="name">By <span class="upper"><a href="mailto:calcantara@miamiherald.com">Chris Alcantara</a></span> and <span class="upper"><a href="mailto:nnehamas@miamiherald.com">Nicholas Nehamas</a></span></span>
			<span class="date">Published: Sept. 18, 2015</span>
		</div>

		<div class="button-container" id="button-container">
			<p class="readout">Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. This tool shows where you can afford a home and how school quality, safety and annual value growth compare. Here's how to use it:</p>

			<div class="tool-list-container readout">
				<span class='item'>
					I'd like to by a...
					<span class="check-button" id="check-button-house">
						<label>
							<input class='house' type="checkbox" ng-model="houseTypeChecked" value="1">
							<span><i class="fa fa-home"></i> single-family home</span>
						</label>
					</span>
					or
					<span class="check-button" id="check-button-condo">
						<label>
							<input class='condo' type="checkbox" ng-model="houseTypeChecked" value="1">
							<span><i class="fa fa-building"></i> condo/townhouse</span>
						</label>
					</span>
				</span>

				<span ng-show="houseTypeChecked" class="item ng-hide">
					Show ZIP codes I can afford based on...
					<span class="check-button" id="check-button-income">
						<label>
							<input class='income' type="checkbox" ng-model="incomeTypeChecked" value="1">
							<span><i class="fa fa-briefcase"></i> annual household income</span>
						</label>
					</span>
					or
					<span class="check-button" id="check-button-savings">
				   	<label>
					   	<input class='savings' type="checkbox" ng-model="incomeTypeChecked" value="1">
					   	<span><i class="fa fa-money"></i> price</span>
						</label>
					</span>
				</span>
			</div>

			<div class="input-container" id="input-container" ng-show="incomeTypeChecked" class="ng-hide">
				    <div class="input-group input-group-lg">
							<input name="income-box" class="income-box form-control input-lg" type="text" placeholder="$">
				      <span class="input-group-btn">
								<button class="income-button income-btn btn btn-default btn-lg" type="button" value="Execute">Submit</button>
								<button class="reset income-btn btn btn-default btn-lg" type="button" value="Reset" ng-click="incomeTypeChecked = false; houseTypeChecked = false">Reset</button>
				      </span>
				    </div>
					<!-- <div ng-if="priceType() === 'income'">
						My annual household income is:
					</div>
					<div ng-if="priceType() === 'savings'">
						My maximum price is:
					</div> -->
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="error">
			<div class="alert alert-danger" role="alert">
				<i class="fa fa-info-circle"></i>
				<span class="sr-only">Error:</span> Enter a valid number
			</div>
		</div>

		<div class="clearfix"></div>
	</div>
</div>

<div id="interface-container" class="container">

	<div class="map-interface">
		<ul>
			<li class="price-select interface-selector selected-interface">Value</li>
			<li class="percent-select interface-selector">Value growth</li>

			<li class="crime-select interface-selector">Crime</li>

			<li class="school-select interface-selector">Schools</li>
		</ul>

		<div class="key-holder">

			<div class="key"></div>

			<div class="clearfix"></div>
			<div class="labels">

				<h6 class="label label-left"></h6>

				<h6 class="label b-grade"></h6>

				<h6 class="label label-middle"></h6>

				<h6 class="label d-grade"></h6>

				<h6 class="label label-right"></h6>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 hover-box-mobile-container">
			<div id="map-container"></div>
			<div class="hover-box-container" id="hover-box-mobile">
				<div class="results-container">
					<div class="price-explainer">
						<p>
							<span class="housing-type"></span>
							<span class="housing-explainer"></span>
							<span class='percent-year'> since 2014.</span>
						</p>
					</div>
					<div class="explainer">
						<p class='first-graf'>You can afford a <span class="housing"></span> in <span class="zip-count"></span> ZIP codes. <i class="fa fa-level-down"></i>
						</p>
						<p class="income-only">Experts say you should, at most, spend three-and-a-half times your income when buying a home.</p>
					</div>
					<p class="readout">
						<span class="hover-instructions">Hover over a ZIP code for more information.</span>
					</p>
				</div>
				<span class="city"></span><span class="state"> – </span><span class="zip-code"></span>
				<span class="crime-rate">
					<span class="crime-level"></span>
				</span>

				<div class="sub-info">
					<span class='neighborhoods'>Neighborhoods include:
						<span class="hoods"></span></span>
				</div>
				<div class="clearfix"></div>

				<div id="house-price">

					<table class='housing-table'>
						<tr>
							<th>Year</th>
							<th>Median Home</th>
						</tr>
						<tr>
							<td>2014</td>
							<td class="house-price-fourteen"></td>
						</tr>
						<tr>
							<td>2015</td>
							<td class="house-price-fifteen"></td>
						</tr>
						<tr>
							<td>% change</td>
							<td class="house-percent"></td>
						</tr>

					</table>

				</div>
				<div id="condo-price">
					<table class='housing-table'>
						<tr>
							<th>Year</th>
							<th>Median Condo</th>
						</tr>
						<tr>
							<td>2014</td>
							<td class="condo-price-fourteen"></td>
						</tr>
						<tr>
							<td>2015</td>
							<td class="condo-price-fifteen"></td>
						</tr>

						<tr>
							<td>% change</td>
							<td class="condo-percent"></td>
						</tr>

					</table>
				</div>

				<div class="clearfix"></div>
				<div class="school-list">

					<table class='school-table'>
						<tr class='school-head'>
							<th class='name'>School</th>
							<th>2014-15</th>
							<th>2013-14</th>
							<th>2012-13</th>
						</tr>
					</table>
					<h4 class="no-school">No school data</h4>
				</div>

				<div class="close-button-wrapper">
					<button class='hover-box-close'>Close</button>
				</div>

				<div class="mobile-readout">
					<p class="readout">
						There are <span class="school-number"></span> in this ZIP code with an average grade, determined by the Florida Department of Education, of <span class="average-grade"></span>.
					</p>
				</div>

			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="hover-box-container" id="hover-box">
				<div class="results-container">
					<div class="price-explainer">
						<p>
							<span class="housing-type"></span>
							<span class="housing-explainer"></span>
							<span class='percent-year'> since 2014.</span>
						</p>
					</div>
					<div class="explainer">
						<p class='first-graf'>You can afford a <span class="housing"></span> in <span class="zip-count"></span> ZIP codes. <i class="fa fa-level-down"></i>
						</p>
						<p class="income-only">Experts say you should, at most, spend three-and-a-half times your income when buying a home.</p>
					</div>
					<p class="readout">
						<span class="hover-instructions">Hover over a ZIP code for more information.</span>
					</p>
				</div>
				<span class="city"></span><span class="state"> – </span><span class="zip-code"></span>
				<span class="crime-rate">
					<span class="crime-level"></span>
				</span>

				<div class="sub-info">
					<span class='neighborhoods'>Neighborhoods include:
						<span class="hoods"></span></span>
				</div>
				<div class="clearfix"></div>

				<div id="house-price">

					<table class='housing-table'>
						<tr>
							<th>Year</th>
							<th>Median Home</th>
						</tr>
						<tr>
							<td>2014</td>
							<td class="house-price-fourteen"></td>
						</tr>
						<tr>
							<td>2015</td>
							<td class="house-price-fifteen"></td>
						</tr>
						<tr>
							<td>% change</td>
							<td class="house-percent"></td>
						</tr>

					</table>

				</div>
				<div id="condo-price">
					<table class='housing-table'>
						<tr>
							<th>Year</th>
							<th>Median Condo</th>
						</tr>
						<tr>
							<td>2014</td>
							<td class="condo-price-fourteen"></td>
						</tr>
						<tr>
							<td>2015</td>
							<td class="condo-price-fifteen"></td>
						</tr>

						<tr>
							<td>% change</td>
							<td class="condo-percent"></td>
						</tr>

					</table>
				</div>

				<div class="clearfix"></div>
				<div class="school-list">

					<table class='school-table'>
						<tr class='school-head'>
							<th class='name'>School</th>
							<th>2014-15</th>
							<th>2013-14</th>
							<th>2012-13</th>
						</tr>
					</table>
					<h4 class="no-school">No school data</h4>
				</div>

				<div class="mobile-readout">
					<p class="readout">
						There are <span class="school-number"></span> in this ZIP code with an average grade, determined by the Florida Department of Education, of <span class="average-grade"></span>.
					</p>

				</div>

			</div>
		</div>
	</div>
</div><!-- END MAP -->

      <div class="container">
       <!--  <div id="sources">
	<p>Sources: Zillow, Florida Department of Education and ESRI</p>
</div> -->
        <footer></footer>
      </div>
      <!-- JS LIBRARIES -->
      <script src="js/libs/d3/d3.min.js"></script>
<script src="js/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs//1.6.1/angular-animate.min.js"></script>
<script src="js/libs/numeral/numeral.min.js"></script>
<script src="js/libs/jquery/jquery.quicksearch.min.js"></script>
<script src="js/libs/modernizr/modernizr.js"></script>
<script src="js/libs/bootstrap/bootstrap.min.js"></script>
<script src="js/libs/sinclair.js"></script>
<script src="js/libs/data/zipdata.js"></script>
<script src="js/libs/leaflet/leaflet.js"></script>
<script src="js/libs/leaflet/tile.stamen.js"></script>
<script src="js/functions.js"></script>
<script src="js/app.js"></script>
<script src="js/main.js"></script>

  </body>
</html>
