<!DOCTYPE html>
<html>
  <head>
    <!-- META TAGS and CSS -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida.">
<meta name="author" content="Chris Alcantara">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="keywords" content="real estate, affordable housing, condos, single-family homes, townhouses, south florida, miami-dade county, broward county, zipcodes">
<meta name="copyright" content="&copy; 2015 Miami Herald">
<meta name="robots" content="index,follow">
<meta property="og:title" content="Graphic: Finding affordable housing in Miami-Dade and Broward counties"/>
<meta property="og:type" content="article"/> 
<meta property="og:description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida."/>
<meta property="og:image" content="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes/img/fb.jpg"/>
<meta property="og:url" content="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes"/>
<meta property="og:site_name " content="Miami Herald"/> 
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MiamiHerald">
<meta name="twitter:creator" content="@MiamiHerald">
<meta name="twitter:title" content="Graphic: Finding affordable housing in Miami-Dade and Broward counties">
<meta name="twitter:description" content="Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. The Miami Herald built a tool that helps you see where you can afford a house or condo in South Florida.">
<meta name="twitter:image:src" content="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes/img/fb.jpg">

<link rel="icon" type="image/jpg" href="http://www.miamiherald.com/static/theme/miamiherald/base/ico/favicon.png"/>
<link rel="image_src" href="pubsys.miamiherald.com/static/media/projects/2015/affordable-homes/img/fb.jpg" />

<link rel="stylesheet" href="css/libs/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/libs/bootstrap.css">
<link rel="stylesheet" href="css/libs/leaflet.css">
<link rel="stylesheet" href="css/styles.css">
    <title>Finding affordable housing in Miami-Dade and Broward counties | Miami Herald</title>
  </head>
  <body>
      <!-- CONTENT -->
      

<div class="container" ng-app="housingApp">
	<div ng-controller="HousingFormController">
		<div class="map-info-container" id="map-info">
			<div class="headline">What will your money buy?</div>
			<div class="byline">
				<span class="name">By <span class="upper"><a href="mailto:calcantara@miamiherald.com">Chris Alcantara</a></span>, <span class="upper"><a href="mailto:nnehamas@miamiherald.com">Nicholas Nehamas</a></span> and <span class="upper"><a href="mailto:cwilliams@miamiherald.com">Chris Williams</a></span></span>
				<span class="date">Published: Sept. 18, 2015</span>
			</div>

			<div class="button-container" id="button-container">
				<p class="readout">Skyrocketing real estate prices make finding an affordable home difficult for many South Floridians. This tool shows where you can afford a home and how school quality, safety and annual value growth compare. Here's how to use it:</p>

				<div class="tool-list-container readout">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<span class='item'>
								<div class="standfirst">
									I'd like to by a...
								</div>
								<div class="input-group">
									<span class="check-button" id="check-button-house">
										<label>
											<input class="house" type="checkbox" ng-model="houseTypeChecked" value="1">
											<span><i class="fa fa-home"></i> Single-family home</span>
										</label>
									</span>
									<span class="check-button" id="check-button-condo">
										<label>
											<input class="condo" type="checkbox" ng-model="condoTypeChecked" value="1">
											<span><i class="fa fa-building"></i> Condo or townhouse</span>
										</label>
									</span>
								</div>
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<span ng-show="houseTypeChecked || condoTypeChecked" class="item ng-hide">
								<div class="standfirst">
									Show ZIP codes I can afford based on...
								</div>
								<div class="input-group">
									<span class="check-button" id="check-button-income">
										<label>
											<input class="income" type="checkbox" ng-model="incomeTypeChecked" value="1">
											<span><i class="fa fa-briefcase"></i> My income</span>
										</label>
									</span>
									<span class="check-button" id="check-button-savings">
										<label>
											<input class="savings" type="checkbox" ng-model="incomeTypeChecked" value="1">
											<span><i class="fa fa-money"></i> Max price</span>
										</label>
									</span>
									<!-- <span class="check-button" id="check-button-all" ng-click="mapIt = true">
										<label>
											<input type="checkbox">
											<span><i class="fa fa-check-circle"></i> Show them all</span>
										</label>
									</span> -->
								</div>
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="input-container ng-hide" id="input-container" ng-show="incomeTypeChecked">
								<div class="income-standfirst"></div>
								<input name="income-box" class="income-box" type="text" placeholder="$">
								<span class="input-group-btn">
									<button class="income-button income-btn btn btn-default btn-lg" type="button" value="Execute"><i class="fa fa-search"></i> Show me the ZIPs!</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="error">
				<div class="alert alert-danger" role="alert">
					<i class="fa fa-info-circle"></i>
					<span class="sr-only">Error:</span> Enter a valid number
				</div>
			</div>
		</div>

		<div class="container">
			<div class="col-md-8 col-md-offset-2 results-outer">
				<div class="row">
					<div class="explainer">
						<p class="income-only">Experts suggest you pay, at most, three-and-a-half times your annual income on a home. A <span class="income-ammount"></span> income would make your maximum price <span class="income-spend"></span>.</p>
						<p class="first-graf">There are <span class="zip-count"></span> <span>ZIP codes</span> in Miami-Dade and Broward counties with <span class="housing"></span> you can afford.</p>
						<button class="btn btn-default btn-lg" type="button" ng-click="mapIt = true"><i class="fa fa-map-signs"></i> Map It!</button>
						<button class="reset btn btn-default btn-lg" type="button" value="Reset" ng-click="mapIt = false"><i class="fa fa-pencil"></i> Edit search</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row" id="map-outer" ng-show="mapIt">
				<div class="col-xs-12 col-md-6 hover-box-mobile-container">
					<div id="map-container"></div>
					<div class="hover-box-container" id="hover-box-mobile">
						<div class="row zip-code-heading">
							<span class="zip-code"></span> <span class="parentheses">(<span class="city"></span>)</span>
							<span class="crime-rate">
								<span class="crime-level"></span>
							</span>
						</div>

						<div class="row neighborhood-heading">
							<div class="sub-info">
								<span class='neighborhoods'>Neighborhoods include:
									<span class="hoods"></span></span>
							</div>
						</div>

						<div id="house-price">
							<div class="row housing-heading">
								Median value <span>(December)</span>
							</div>
							<div class="row housing-table">
								<div class="housing-item housing-item--year col-xs-4">
									<div class="housing-year">
										2014
									</div>
									<div class="housing-number house-price-fourteen">

									</div>
								</div>
								<div class="housing-item housing-item--year col-xs-4">
									<div class="housing-year">
										2015
									</div>
									<div class="housing-number house-price-fifteen">

									</div>
								</div>
								<div class="housing-item housing-item--growth col-xs-4">
									<div class="housing-growth">
										Growth
									</div>
									<div class="housing-number house-percent">

									</div>
								</div>
							</div>
						</div>

						<div id="condo-price">
							<div class="row housing-heading">
								Median value <span>(December)</span>
							</div>
							<div class="row housing-table">
								<div class="housing-item housing-item--year col-xs-4">
									<div class="housing-year">
										2014
									</div>
									<div class="housing-number condo-price-fourteen">

									</div>
								</div>
								<div class="housing-item housing-item--year col-xs-4">
									<div class="housing-year">
										2015
									</div>
									<div class="housing-number condo-price-fifteen">

									</div>
								</div>
								<div class="housing-item housing-item--growth col-xs-4">
									<div class="housing-growth">
										Growth
									</div>
									<div class="housing-number condo-percent"></div>
								</div>
							</div>
						</div>

						<div class="school-list">
							<table class='school-table'>
								<tr class='school-head'>
									<th class='name'>School grade</th>
									<th>2014-15</th>
									<th>2013-14</th>
									<th>2012-13</th>
								</tr>
							</table>
							<h4 class="no-school">No school data</h4>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 hover-box-desktop-container">
					<div id="interface-container">
						<div class="map-interface">
							<ul>
								<li class="price-select interface-selector interface-selector--green selected-interface">Value</li>
								<li class="percent-select interface-selector interface-selector--blue">Growth</li>
								<li class="crime-select interface-selector interface-selector--red">Crime</li>
								<li class="school-select interface-selector interface-selector--yellow">Schools</li>
							</ul>

							<div class="key-holder">
								<div class="key"></div>
								<div class="clearfix"></div>
								<div class="labels">
									<h6 class="label label-left"></h6>
									<h6 class="label b-grade"></h6>
									<h6 class="label label-middle"></h6>
									<h6 class="label d-grade"></h6>
									<h6 class="label label-right"></h6>
								</div>
							</div>

							<div class="clearfix"></div>

							<p class="readout">
								<span class="hover-instructions">Hover over or click a ZIP code for more information.</span>
							</p>
						</div>
					</div>
					<div class="hover-box-container" id="hover-box">
						<div class="row zip-code-heading">
							<span class="zip-code"></span> <span class="parentheses">(<span class="city"></span>)</span>
							<span class="crime-rate">
								<span class="crime-level"></span>
							</span>
						</div>

						<div class="row neighborhood-heading">
							<div class="sub-info">
								<span class='neighborhoods'>Neighborhoods include:
									<span class="hoods"></span></span>
							</div>
						</div>

						<div id="house-price" ng-hide="condoTypeChecked" ng-show="houseTypeChecked">
							<div class="row housing-heading">
								Median house value <span>(December)</span>
							</div>
							<div class="row housing-table">
								<div class="housing-item housing-item--year col-xs-4">
									<div class="housing-year">
										2014
									</div>
									<div class="housing-number house-price-fourteen">

									</div>
								</div>
								<div class="housing-item housing-item--year col-xs-4">
									<div class="housing-year">
										2015
									</div>
									<div class="housing-number house-price-fifteen">

									</div>
								</div>
								<div class="housing-item housing-item--growth col-xs-4">
									<div class="housing-growth">
										Growth
									</div>
									<div class="housing-number house-percent">

									</div>
								</div>
							</div>
						</div>

						<div id="condo-price" ng-hide="houseTypeChecked" ng-show="condoTypeChecked">
							<div class="row housing-heading">
								Median condo value <span>(December)</span>
							</div>
							<div class="row housing-table">
								<div class="housing-item housing-item--year col-xs-4">
									<div class="housing-year">
										2014
									</div>
									<div class="housing-number condo-price-fourteen">

									</div>
								</div>
								<div class="housing-item housing-item--year col-xs-4">
									<div class="housing-year">
										2015
									</div>
									<div class="housing-number condo-price-fifteen">

									</div>
								</div>
								<div class="housing-item housing-item--growth col-xs-4">
									<div class="housing-growth">
										Growth
									</div>
									<div class="housing-number condo-percent"></div>
								</div>
							</div>
						</div>

						<div class="school-list">
							<table class='school-table'>
								<tr class='school-head'>
									<th class='name'>School grade</th>
									<th>2014-15</th>
									<th>2013-14</th>
									<th>2012-13</th>
								</tr>
							</table>
							<h4 class="no-school">No school data</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- END MAP -->


      <div class="container">
       <!--  <div id="sources">
	<p>Sources: Zillow, Florida Department of Education and ESRI</p>
</div> -->
        
      </div>
      <!-- JS LIBRARIES -->
      <script src="js/libs/d3/d3.min.js"></script>
<script src="js/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs//1.6.1/angular-animate.min.js"></script>
<script src="js/libs/numeral/numeral.min.js"></script>
<script src="js/libs/jquery/jquery.quicksearch.min.js"></script>
<script src="js/libs/modernizr/modernizr.js"></script>
<script src="js/libs/bootstrap/bootstrap.min.js"></script>
<script src="js/libs/sinclair.js"></script>
<script src="js/libs/data/zipdata.js"></script>
<script src="js/libs/leaflet/leaflet.js"></script>
<script src="js/libs/leaflet/tile.stamen.js"></script>
<script src="js/functions.js"></script>
<script src="js/app.js"></script>
<script src="js/main.js"></script>

  </body>
</html>
