.btn {
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $md;
  padding: 10px;
  transition: background-color 0.3s linear;
  border-radius: 0px !important;

  &:hover {
    background-color: #aaa;
  }
}

.reset-button-holder {
  display: none;
}
