.btn {
  font-family: $sans-serif;
  font-weight: bold;
  font-size: $md;
  padding: 10px;
  transition: background-color 0.3s linear;
  border-radius: 0px !important;
  border: solid 2px $herald-blue;
  color: $herald-blue;

  &:hover {
    background-color: #aaa;
  }
}

.reset-button-holder {
  display: none;
}

.heading.section-main-heading.link {
  font-family: $sans-serif-condensed;
  margin-bottom: 15px;

  a:hover {
    text-decoration: none;
  }
}
